<!DOCTYPE html>
<html lang="fr">
<head>
    {% block head %}
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
        <title>{% block title %}{% endblock %} - My site</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/foundation-sites@6.5.0-rc.2/dist/css/foundation.min.css" integrity="sha256-iJQ8dZac/jUYHxiEnZJsyVpKcdq2sQvdA7t02QFmp30= sha384-SplqNBo/0ZlvSdwrP/riIPDozO5ck8+yIm++KVqyMAC53S6m3BaV+2OLpi7ULOOh sha512-ho6hK4sAWdCeqopNZWNy1d9Ok2hzfTLQLcGSr8ZlRzDzh6tNHkVoqSl6wgLsqls3yazwiG9H9dBCtSfPuiLRCQ==" crossorigin="anonymous">
        <link rel="stylesheet" href="{{assets}}css/style.css" />
    {% endblock %}   
</head>
<body>
   <header>
       <nav #main>
            <div class="title-bar" data-responsive-toggle="example-animated-menu" data-hide-for="medium">
              <button class="menu-icon" type="button" data-toggle></button>
              <div class="title-bar-title">Menu</div>
            </div>

            <div class="top-bar" id="example-animated-menu" >
              <div class="top-bar-left">
                <ul class="dropdown menu" data-dropdown-menu>
                  <li class="menu-text">Site Title</li>                  
                  <li><a href="{{home}}">home</a></li>
                  <li><a href="{{home}}posts">posts</a></li>
                  <li><a href="{{home}}astuces">astuces</a></li>
                </ul>
              </div>
            </div>           
       </nav>       
   </header>
   <div id="content">{% block content %}{% endblock %}</div>
   <footer>
        {% block footer %}
                &copy; Copyright 2018 by you.
        {% endblock %}
   </footer>
    {% block scripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/foundation-sites@6.5.0-rc.2/dist/js/foundation.min.js" integrity="sha256-G6jsRyH1fxbsvFIXSCuwYmI1aIDYBa28xscrvmYjJy0= sha384-vtoG68NvPc9azmFJr447vvY8qgdyA4FdaJ5/bqvzIM4eAdZfO0iyRRF8l2AAscYI sha512-43seCcNrHA0BQgrtyajB9sp8yOdv5c8QdYvgjP7zJ7v+dmzAcxYDQ2gupb9aztsNWBq1COIp/3NHYkQs4l/dkg==" crossorigin="anonymous"></script>
    <script>
      $(document).foundation();
    </script>

    {% endblock %}    
</body>
</html>